<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <nav>
        <ul>
            <% if (data) { %>
              <li><a href="/auth/logout">Logout</a></li>
            <% } else { %>
              <li><a href="/auth/login">Login</a></li>
            <% } %>
              <li><a href="/">Home</a></li>
              <li><a href="/profile">Profile</a></li>
          </ul>
    </nav>

    <h1>Welcome to your profile, <%= data.username %></h1>

    <p>
        Extra infromation about you.
    </p>

</body>
</html>
